.mediaViewInfo {
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Index {
	position: absolute;
	width: 420px;
	height: 812px;
	background-color: rgba(6,6,6,1);
	overflow: hidden;
	--web-view-name: Index;
	--web-view-id: Index;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#imageonline_co_transparentimag {
	position: absolute;
	width: 178px;
	height: 109px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Gr_nsaker {
	position: absolute;
	width: 488px;
	height: 241px;
	left: 24px;
	top: 176px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 255px;
	height: 41px;
	left: -14px;
	top: 457px;
	transform: matrix(1,0,0,1,0,0);
}
#H_mta_Kampanjeblad {
	position: absolute;
	left: 5px;
	top: 461px;
	overflow: visible;
	width: 209px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(249,246,246,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 289.799px;
	height: 42.793px;
	left: 143.067px;
	top: 676px;
	transform: matrix(1,0,0,1,0,0);
}
#Avregistrera_dig {
	position: absolute;
	left: 210px;
	top: 680px;
	overflow: visible;
	width: 199px;
	height: 34px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(249,246,246,1);
}